
header {
  position: fixed;
  width: 100%;
  top: 0;
}

form {
  margin: 2rem;
}

h1, h2 {
  margin: 4rem !important;
  text-align: center !important;
}
.out-account {
  div {
    text-align: center;
    margin: 0.8rem;
    * {
      font-size: 1.2rem;
    }
  }
}
.sell-clothes-list {
  list-style: none;
  text-align: center;
  a {
    text-decoration: none;
  }
  li{
    color: cadetblue;
    font-size: 1.2rem;
    margin: 1.2rem;
  }
}

.greeting {
  font-size: 1.8rem;
  color: cadetblue;
  text-align: center;
  margin: 1rem;
}

.credit {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.add-credit {
  text-align: center;
  margin-top: 2rem;
}

.logoutForm{
  text-align: center;
}

.filter-form {
 margin: 0.5rem;
}

.browse-by-type {
  position: fixed;
  top: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(248, 248, 237);
  border: beige solid 3px;
}
.browse-by-type > li {
  list-style: none;
  //margin: 1rem 2rem;
  //height: 30px;
  color: cadetblue;
  a {
    color: cadetblue;
    text-decoration: none;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 667px;
  margin: 342px auto 0 auto;
}



.product-listing {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  min-height: 10rem;
  border: black solid 2px;
  min-width: 250px;
  max-width: 300px;
  padding: 0.5rem;

  .listing-image {
    //flex-grow: 1;
    height: 280px;
    width: 100%;
    object-fit: contain;
  }
}

.users-listing {
  border: cadetblue solid 2px !important;
  background-color: #c9c9c9;
}

.image-container{
  flex-grow: 1;
}

.listing-title{
  font-size: 1.2rem;
  font-weight: bold;
}

.listing-gender{
  font-size: 0.8rem;
}


.listing-condition{
  font-size: 0.8rem;
}

.listing-price{
  font-size: 1rem;
  font-weight: bold;
}

.listing-sold-by{
  font-size: 0.8rem;
}

@media (min-width: 631px) {
  .grid-container {
    margin: 286px auto 0 auto;
  }
}

@media (min-width: 801px) {
  .grid-container {
    margin: 230px auto 0 auto;
  }
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
  }
}

@media (min-width: 1170px) {
  .grid-container {
    margin: 174px auto 0 auto;
  }
}

@media (min-width: 1333px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1333px;
  }
}

